.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #40a4c8;
}
