.ProductExtras {
  display: flex;
  align-items: center;
  margin: 5px 0;
  justify-content: space-around;
  color: blueviolet;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  height: 13%;
  width: 50%;
  position: relative;
  /* transform: rotate(-20deg); */
}

.ProductExtras button {
  display: block;
  font: inherit;
  margin: 0 5px;
  padding: 5px;
  width: 80px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  /* transform: rotate(-20deg); */
}
